:root {
  --theme-color: #f77b7b;
}

body {
  box-sizing: border-box;
  background-image: url("../public/images/cork-background.jpg");
  background-position: center;
  background-repeat: repeat;
  font-family: "Grape Nuts", cursive;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-align: center;
}

.brand-name {
  background-color: white;
  border: solid black 4px;
  border-radius: 5px;
  margin: 2.5rem auto;
  padding: 0 5rem;
  width: max-content;
}

.category {
  color: var(--theme-color);
}

.display-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.filter-selection {
  background-color: white;
  border: solid black 4px;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-right: 10rem;
  padding: 2rem;
  width: 22rem;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid black 4px;
  border-radius: 5px;
  margin: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 0.5rem;
}

button {
  background-color: var(--theme-color);
  border: solid transparent 2px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 1rem;
  padding: 0.4rem;
}

button:hover {
  border: solid black 2px;
}

.button-done {
  background-color: #77b255;
}

h1,
.wild {
  color: var(--theme-color);
  font-weight: bold;
}

li {
  cursor: pointer;
  margin: 1rem;
}

li:hover {
  color: var(--theme-color);
  font-weight: bold;
}

.welcome-message {
  background-color: white;
  border: solid black 4px;
  border-radius: 5px;
  margin: 10rem;
  padding: 1rem;
}

/* mobile */
@media screen and (max-width: 900px) {
  .display-section {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .filter-selection {
    margin: 1.5rem auto;
    padding: 2rem;
    width: 60%;
  }

  .todo-item {
    flex-direction: column;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 60%;
  }

  .brand-name {
    margin: 2rem auto;
    padding: 0 1rem;
  }

  .welcome-message {
    margin: 3rem auto;
    padding: 1rem;
    width: 80%;
  }
}
